.nav {
    display: inline-block;
    list-style: none none;
    margin: 10;
    padding: 0;
    line-height: 1;
}
.nav a {
    display: block;
    padding:.5em;
    color: blue;
    background: white;
    text-decoration: none;
}
.nav a:focus,
.nav a:hover {
    color: black;
    background: #ffc;
    text-decoration: underline;
}
.nav-item {
    float: left; /* Pour que les liens s’affichent horizontalement */
    position: relative; /* Crée un contexte de positionnement pour les sous-listes */
}
.sub-nav {
    position: absolute; /* Evite que la dimension du conteneur ne change quand la sous-liste est affichée */
    white-space: nowrap; /* Pour que le texte ne revienne pas à la ligne */
    left: 0; /* FIX IE7 : pour que le sous-menu s’aligne avec son conteneur */
    top: 2em; /* FIX IE7 : pour que le sous-menu s’aligne avec son conteneur */
    white-space: nowrap; /* Pour que le texte ne revienne pas à la ligne */
    background: white; /* FIX IE7 : évite que la sous-liste ne disparaisse au moment où le curseur arrive au-dessus */
    margin-top: -2px; /* Pour que le sous-menu recouvre son parent, facilitant le passage de la souris de l’un à l’autre */
}
/* Réduit cette boîte à un carré d’1px de côté, dont le texte est déporté loin à gauche */
.sub-nav-item a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    float: left; /* Fix WebKit : force la largeur des sous-navigations à s’adapter automatiquement, pour pouvoir l’atteindre à la souris */
}
.sub-nav-item a:focus,
.nav-item a:focus +.sub-nav a,
.nav-item:hover .sub-nav-item a {
    position: static;
    left: auto;
    width: auto;
    height: auto;
    overflow: visible;
}
@media screen and (max-width: 480px) {
.nav-item {
        float: none; /* Remet les éléments les uns au-dessus des autres */
    }
.sub-nav {
        position: static; /* Replace la sous-liste dans le flux du document */
        white-space: normal /* Permet au texte de revenir à la ligne normalement */
    }
.sub-nav-item a {
        display: block; /* Pour que la ligne entière soit cliquable */
        width: auto; /* Annule width: 1px */
        height: auto; /* Annule height: 1px */
        position: static; /* Annule position: absolute */
        padding-left: 1em; /* Annule le padding vertical et en rajoute à gauche pour indiquer le sous-niveau */
        overflow: visible; /* Annule overflow: hidden */
        float: none;
    }
}
